In [1]:
import numpy as np
import pandas as pd
import warnings
import pickle
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_excel("C:\\Users\\ADMIN\\Downloads\\PS2 Data\\last.xlsx")
df.head()

,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),...,District_Warangal,District_Warangal urban,District_Yadadri,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
1,165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
2,240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
3,180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
4,256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1

In [4]:
df=pd.get_dummies(df)
df.head()

,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),...,District_Warangal,District_Warangal urban,District_Yadadri,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
1,165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
2,240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
3,180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1
4,256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,...,0,0,0,1,0,0,0,0,0,1

In [5]:
len(df.columns)

52

In [6]:
df.columns

Index(['Rainfall(mm)', 'Minimum Temparature(C)', 'Maximum Temperature (C)',
       'Ph', 'N(Kg/Hectar)', 'P(Kg/Hectar)', 'K(Kg/Hectar)', 'Zn(ppm)',
       'Fe(ppm)', 'Cu(ppm)', 'Mn(ppm)', 'Irrigation(MBGL)',
       'Yield (Bales/Hectare)', 'District_Adilabad', 'District_Bhadradri',
       'District_Jagitial', 'District_Jangoan', 'District_Jayashankar',
       'District_Jogulamba', 'District_Kamareddy', 'District_Karimnagar',
       'District_Khammam', 'District_Komaram bheem asifabad',
       'District_Mahabubabad', 'District_Mahbubnagar', 'District_Mancherial',
       'District_Medak', 'District_Medchal', 'District_Mulugu',
       'District_Nagarkurnool', 'District_Nalgonda', 'District_Narayanapet',
       'District_Nirmal', 'District_Nizamabad', 'District_Peddapalli',
       'District_Rajanna', 'District_Rangareddy', 'District_Sangareddy',
       'District_Siddipet', 'District_Suryapet', 'District_Vikarabad',
       'District_Wanaparthy', 'District_Warangal', 'District_Warangal urban',
       'District_Yadadri', 'Season_Kharif', 'Season_rabi', 'Crop_Groundnut',
       'Crop_Maize', 'Crop_Moong(Green Gram)', 'Crop_Rice',
       'Crop_cotton(lint)'],
      dtype='object')

In [7]:
from sklearn.model_selection import train_test_split
x=df.drop(['Yield (Bales/Hectare)'],axis='columns').values
y=df['Yield (Bales/Hectare)'].values
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [8]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(xtrain, ytrain)
pred=model.predict(xtest)
from sklearn.metrics import r2_score
r2_score(ytest,pred)*100

82.56467014542454

In [9]:
pickle.dump(model,open('model.pkl','wb'))
m=pickle.load(open('model.pkl','rb'))